// width
$desktop-width: 970px;
// color
$text-color1: #000000;
$text-color2: #818180;
$text-color3: #ffffff;
$text-color4: #ffb802;
$backgroung-color1: #ffffff;
$backgroung-color2: #ffbb02;
$backgroung-color3: #000000;
$button-color: #fdcb03;
$hover-color: #f4213a;
// text
$font-family: "PTSans", "Arial", sans-serif;
$font-family2: "MyriadPro", "Arial", sans-serif;
$font-family3: "Impact", "Arial", sans-serif;
$fontsize: 14px;
$line-height: 24px;
